.container-fluid {
    background-color: #ffffff; 
    border: 1px solid #dee2e6; 
    border-radius: 8px; 
    margin: -100px;
    padding-bottom: 0px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-top: 10px;
}
a:hover{
    border: 5px groove black;
    border-radius: 8px;
    background-color: #007bff;
}

.nav-item{
    padding-top: 50px;
    padding-left: 50px;
    margin-left: -50px;
}

.navbar-light .navbar-nav .nav-link {
    color: #343a40; 
}
.responsive {
    width: 100%;
    height: 700px;
}
.welcome {
    text-align: center;
    background-color: #007bff; 
    color: #ffffff; 
    padding: 50px;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

#info {
    margin-top: 20px;
}

.ada {
    font-size: 24px; 
    color: #28a745; 
}

.ourteam {
    font-size: 24px; 
    color: #dc3545; 
}
.infotheme{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.jumbotron {
    padding-left: 5%;  
    padding-right: 5%;
    margin-top: 4vh; 
    text-align: center;
    border: 5px solid;
    border-radius: 50%;
    margin-left: 10%;   
    margin-right: 10%;
}

.form-control {
    width: 100%;  
}
